
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Roboto:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #4e878c;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Crimson Text', serif;
}



header{
    background-color: #4e878c;
    
}

.navbar-brand{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #afb9b6;
}

.img-logo{
    height: 90px;
    width: auto; 
    margin: 0 15px;
}

.nav-item:hover{
    background-color: #081c15;
    border-radius:4px;
}

.fondo{
    background-color: #4e878c38;
    padding: 10px 10px;
    
    border-radius: 20px;
}
.main-inicio{
    background-image: url(/assets/home.jpg);
    background-size: cover;
    
    
}

.oferta p{
    font-size: 30px;
}

.botones{
    margin-top: 40px;
}

.btn-planes{
    border: 3px solid #081c15;
    border-radius: 70px;
    font-size: 30px;
    margin: 2px;
    padding: 10px 10px;
    font-weight: 600;
    color: #081c15;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-planes:hover{
    background-color: #afb9b6;
}

.sedes{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #4e878c;
    display: grid;
    justify-content: space-between;
    align-items:center ;
}


.map{
    display: grid;
    filter: grayscale(100%) invert(90%) contrast(90%);
    margin-bottom:3px ;
}

footer{
    background-color: #4e878c;
}

.img-footer img{
    height: 120px;
    width: auto; 
    margin: 0 15px; 
}


/* Estilos para page"nosotros" */

.main-nosotros{
    background-image: url(/assets/nosotros.jpg);
    background-size: cover;
    display: grid;
}

.main-nosotros h2{
    font-size: 50px;
    text-align: center;
    padding: 10px 10px;
}

.main-nosotros article{
    padding: 30px 30px;
    font-size: 30px;
}

.main-nosotros .btn-nosotros{
        border: 3px solid #081c15;
        border-radius: 70px;
        font-size: 30px;
        margin: 2px;
        padding: 10px 10px;
        font-weight: 600;
        color: #081c15;
        text-decoration: none;
        text-transform: uppercase;
        align-items:center ;
}

.btn-nosotros:hover{
    background-color: #afb9b6;
}

/* .titulo-cards{
    width: 100%;
    background-color: #4e878c;
    margin-top: 20px;
    margin-bottom: 6px;
}

.titulo-cards h4{
    text-decoration: center;
    border: 1px solid #081c15;
    padding: 20px;
} */

.mas-nosotros{
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 10px 5px 5px;
    align-items: center;
}



/* .card {
    width: 25%;
    height: 350px;
    text-align: center;
    margin: 5px;
    flex-direction: column;
    background-color: #081c15;
} */

.card-img{
    
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position:center;
    border-radius: 10px 10px 0 0 ;
}

.card h3{
    color: #081c15;
    font-size: 25px;
}

.card p{
    font-size: 20px;
    text-align:center;
}

.card-mision .card-img{
    background-image: url(/assets/mision.jpg);
}
.card-vision .card-img{
    background-image: url(/assets/vision.jpg);
}
.card-elegirnos .card-img{
    background-image: url(/assets/elegirnos.jpg);
}
.card-ubicacion .card-img{
    background-image: url(/assets/ubicacion.png);
}


/* media queries */

@media (max-width: 480px){
    .main-inicio{
        flex-direction: column;
        display: vw100;
    }
    .main-inicio p{
        font-size: 20px;
    }
    .fondo{
        background-color: #10e8ab7f;
        padding: 10px 10px;
    }
    .sedes-inicio ul{
        flex-direction: column;
    }
    .footer ul{
        display: none;
    }


    .main-nosotros h2{
        font-size: 25px;
    }
    .main-nosotros p{
        font-size: 20px;
    }
}

@media (min-width: 481px){
    .main-inicio{
        flex-direction: row;
        display: vw100;
    }

    .mas-nosotros .row{
        flex-direction: row;
    }
}
