

.main-faqs{
    background-image: url(../assets/faqs.jpg);
    background-size: cover;
    background-position: center;
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 45px;
    }
    p{
        font-size: 35px;
    } 
    .preguntas{
        background: $color-fondo-cajas;
        margin-bottom: 15px;   
    }
    .info-faqs{
        background: $color-fondo;
    }
    .ubicaciones{
        ul{
            font-size: 20px;
            text-align: left;
        }
        .img-faqs{
            height: 450px !important;
            width: auto !important;
        }
    }
    
    
    .icono-faqs{
        height: 70px;
        width: 70px;
    }
}



@media screen and (min-width:320px) and (max-width: 480px){
    .main-faqs{
        
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 30px;
            background: $color-fondo-h2;
        }
        p{
            font-size: 25px;
        } 
        .preguntas{
            padding: 2px 2px !important;
            margin-bottom: 15px; 
            a{
                font-size: 20px;
            }  
        }
        .info-faqs{
            background: $color-fondo-cajas;
        }
        .ubicaciones{
            padding: 2px 2px !important;
            background: $color-fondo-cajas;
        }
    }
}



@media screen and (min-width:481px) and (max-width: 768px){
    .main-faqs{
        
        h2{
            font-size: 45px;
            margin-bottom: 20px;
        }
        h3{
            font-size: 40px;
            background: $color-fondo-h2;
        }
        p{
            font-size: 30px;
        } 
        .preguntas{
            padding: 35px 35px !important;
            margin-bottom: 35px; 
            a{
                font-size: 20px;
            }  
        }
        .info-faqs{
            padding: 35px !important;
            background: $color-fondo-cajas;
        }
        .ubicaciones{
            padding: 35px 35px !important;
            background: $color-fondo-cajas;
            ul{
                font-size: 25px;
            }
        }
    }
}


@media screen and (min-width:769px) and (max-width: 1400px){
    .main-faqs{
        
        h2{
            font-size: 45px;
            margin-bottom: 20px;
        }
        h3{
            font-size: 40px;
            background: $color-fondo-h2;
        }
        p{
            font-size: 30px;
        } 
        .preguntas{
            padding: 5px 5px !important;
            margin-bottom: 35px; 
            p{
                font-size: 25px;
            }
            a{
                font-size: 25px;
            }  
        }
        .info-faqs{
            padding: 5px !important;
            background: $color-fondo;
            p{
                background: $color-fondo-cajas;
            }
        }
        .ubicaciones{
            padding: 35px 35px !important;
            background: $color-fondo-cajas;
            ul{
                font-size: 35px;
            }
        }

        .img-faqs{
            position: relative;
        }
    }
}