

.main-faqs{
    background-image: url(../assets/faqs.jpg);
    background-size: cover;
}

.img-faqs{
    height: 450px !important;
    width: auto !important;
}

.icono-faqs{
    height: 70px;
    width: 70px;
}