



.main-servicios{
    background-image: url(../assets/servicios.jpg);
    background-size: cover;
}

.main-servicios h2{
    font-size: 50px;
    text-align: center;
    padding: 10px 10px;
    
}

.main-servicios article{
    padding: 30px 30px;
    font-size: 30px;
    background-color: $color-fondo-cajas;
}


.img-servicios{
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position:center;
}

.card{
    background-color: $color-fondo-cajas !important;
    .card-body{
        padding: 0;
    }
    ul{
        padding: 0;
        
    }
    h5{
        background-color: $color-fondo-h2;
        border-radius: 10px solid rgba(12, 11, 11, 0.46);
    }
    ul{
        font-size: 25px;
    }
}

.plan{
    background-color: $color-fondo-cajas;
    h3{
        font-size: 45px;
    }
    p{
        font-size: 30px;
    }
}


@media screen and (min-width:320px) and (max-width: 480px){
    .main-servicios{
        .info-servicios{
            padding: 5px 10px !important;
        }
        h2{
            background-color:$color-fondo-h2;
            font-size: 35px;
            margin-bottom: 10px;
        }
        .arti-servicios{
            padding: 5px 5px;
        }
        p{
            font-size: 28px;
            padding: 0 !important;
        }
        a{
            font-size: 24px;
        }
    }
    .arti-servicios-2{
        padding: 15px 15px !important;
        h3{
            background-color: $color-fondo-h2;
        }
    }
    .plan{
        padding: 15px 15px ;
    }
}



@media screen and (min-width:481px) and (max-width: 768px){
    .main-servicios{
        .info-servicios{
            padding: 35px 35px !important;
        }
        h2{
            background-color:$color-fondo-h2;
            font-size: 45px;
            margin-bottom: 15px;
        }
        .arti-servicios{
            padding: 25px 25px;
        }
        p{
            font-size: 35px;
            padding: 0 !important;
        }
        a{
            font-size: 24px;
        }
    }
    .arti-servicios-2{
        padding: 35px 35px !important;
        h3{
            background-color: $color-fondo-h2;
        }
    }
    .plan{
        padding: 35px 35px ;
    }
}


@media screen and (min-width:769px) and (max-width: 1400px){
    .main-servicios{
        .info-servicios{
            padding: 45px 45px !important;
        }
        h2{
            background-color:$color-fondo-h2;
            font-size: 45px;
            margin-bottom: 15px;
        }
        .arti-servicios{
            padding: 35px 35px;
            margin-bottom: 15px;
        }
        p{
            font-size: 35px;
            padding: 0 !important;
        }
        a{
            font-size: 24px;
        }
    }
    .arti-servicios-2{
        padding: 35px 35px !important;
        h3{
            background-color: $color-fondo-h2;
        }
    }
    .plan{
        padding: 35px 35px ;
    }
}